.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-left {
    display: flex;
    align-items: center;
  }
  
  
  .home-button {
      margin-right: 1rem;
      color: #fff;
      text-decoration: none;
    }
    
    .logo {
      width: 35px;
      height: 35px;
      fill: #fff;
      margin-right: 8px;
    }

  .profile-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .profile-button:hover {
    background-color: #0056b3;
  }
  
  /* Adjust positioning of the button */
  .profile-button {
    top: 20px;
    right: 20px;
  }
  
  .ri-home-line {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .header-left {
      margin-bottom: 1rem;
    }
  
    .home-button {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .student-dashboard-container {
        padding-top: 0; 
    }
  
    .selection-block {
        top: 100px; 
        right: 0; 
        width: 100%;
        max-width: 300px; 
        margin: auto; 
    }

    .dashboard-content {
        padding-top: 0; 
    }

    .course {
        width: 100%;
    }
}