.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
  }
  .header-left {
    display: flex;
    align-items: center;
  }
  
  
  .home-button {
      margin-right: 1rem;
      color: #fff; /* Icon color */
      text-decoration: none; /* Remove underline */
    }
    
    .logo {
      width: 35px;
      height: 35px;
      fill: #fff;
      margin-right: 8px;
    }

  .profile-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .profile-button:hover {
    background-color: #0056b3;
  }
  
  /* Adjust positioning of the button */
  .profile-button {
    /* position: fixed; */
    top: 20px;
    right: 20px;
  }
  
  .ri-home-line {
    font-size: 1.5rem; /* Adjust icon size */
  }

  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .header-left {
      margin-bottom: 1rem;
    }
  
    .home-button {
      margin-right: 0;
    }
  }