.student-dashboard-container {
    padding-top: 50px; /* Adjust this value based on the height of the fixed selection block */
  }
  
  .selection-block {
    position: fixed;
    top: 130px;
    left: 1430px;
    width: 20%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the selection block appears above other content */
  }
  
  .dashboard-content {
   top: 10px;
 /* Adjust this value based on the height of the fixed selection block */
  }
  
  /* Additional styles for dropdown and other elements */
  