

.appContainer {
  position: right;
}

.profileIcon {
  position: right;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  cursor: pointer;
}

